@{
    ViewBag.Title = "IndexJquery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/ScriptsJquery/aduser-indexjquery.js"></script>
}

<div>
    <table id="UserList" data-toggle="table" class="table">
        <tr class="tr-class-1">
            <td>Cn</td>
            <td>Sn</td>
            <td>GivenName</td>
            <td>DisplayName</td>
            <td>Status</td>
        </tr>
    </table>
</div>

